* {
  margin: 0;
  padding: 0;
}
body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(219 234 252)), to(rgba(255,255,255,1)));
  background: -o-linear-gradient(top, rgb(219 234 252) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(180deg, rgb(219 234 252) 0%, rgba(255,255,255,1) 100%);
}
.fit {
  padding: 10px;
}
  button {
  height: 30px;
  width: 100px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

submit-button {
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  background-color: blue;
}

table tr td {
    font-family: roboto;
    font-size: 14px;
    line-height: 1.3;
}
error-message {
  margin: 10px;
  color: brown;
}
fieldset {
  padding: 0px 20px;
  border-radius: 0;
  margin-bottom: 0px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #828282;
  margin-top: -4px;
  border-bottom: 0;
}
legend {
  background: #fff;
  /* For better legibility against the box-shadow */
}
legend span {
  font-size: 13px;
  font-weight: bold;
}
fieldset > legend {
  float: left;
  /* margin-top: -31px; */
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
}
fieldset > legend + * {
  clear: both;
}

textarea {
    border-style: none;
    background-color: gainsboro;
    padding: 10px 0px 10px 10px;
    margin: 10px 0 10px 0;
}
input[type=button] {
    background-color: #0074b6;
    padding: 12px;
    color: white;
    font-size: 15px;
    border-style: none;
    border-width: 1px;
}
input[type=button]:hover {
    color: #0074b6  ;
    border-style: solid  ;
    border-color: #0074b6  ;
    background-color: white  ;
    padding: 11px;
    font-size: 15px;
    cursor: pointer;
}

.fileCtrl {
    color: gray;
    border-style: solid;
    border-color: gray;
    background-color: white;
    padding: 10px;
    width: 100%;
}

input[type=file]:file-selector-button  {
    color: #0074b6  !important;
    border-style: solid  !important;
    border-color: #0074b6  !important;
    background-color: white  !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

select {
    color: #0074b6 ;
    border-style: solid ;
    border-color: #0074b6 ;
    background-color: white ;
    padding: 5px;
}
.InputButtonNoFill {
    color: #0074b6  !important;
    border-style: solid  !important;
    border-color: #0074b6  !important;
    background-color: white  !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.black {
  filter: invert(93%) sepia(63%) saturate(6234%) hue-rotate(246deg)
    brightness(87%) contrast(156%);
}
/*Toggle CSS */
.switch {
  display: inline-block;
  width: 44px;
  height: 18px;
  position: absolute;
  right: -4px;
  top: 10px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 0px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #0074b6;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.fileCtrl {
    color: gray;
    border-style: solid;
    border-color: gray;
    background-color: white;
    padding: 10px;
    width: 100%;
}
input[type=file]:file-selector-button  {
    color: #0074b6  !important;
    border-style: solid  !important;
    border-color: #0074b6  !important;
    background-color: white  !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
select {
    color: #0074b6 ;
    border-style: solid ;
    border-color: #0074b6 ;
    background-color: white ;
    padding: 5px;
}
.InputButtonNoFill {
    color: #0074b6  !important;
    border-style: solid  !important;
    border-color: #0074b6  !important;
    background-color: white  !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.black {
  filter: invert(93%) sepia(63%) saturate(6234%) hue-rotate(246deg)
    brightness(87%) contrast(156%);
}
.heading{
  position: relative;
  cursor: pointer;
  padding: 10px 0;
}
.heading.active{
  border-bottom: 1px solid;
border-image: linear-gradient(to right, #ff000000, #1e1e1e, #d10e0e00)1;
}
.content{
  opacity: 0;
  transition: all 0.5s ease;
  max-height: 0;
  display: none;
}
.heading.active + .content  {
  opacity: 1;
  max-height: 500px;
  display: inline-block;
  padding-top: 14px;
}
button.validate {
  height: auto;
  width: auto;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 15px;
  background: #0074b6;
  color: #ffffff;
  float: right;
  margin-right: 4px;
  cursor: pointer;
}
span.setting_link a {
  display: inline-block;
    font-weight: 500;
    text-decoration: none !important;
    font-size: 13px;
    margin: 0;
    padding: 4px 0 0;
    line-height: 01;
    color: #0074b6;
    position: relative;
    top: 3px;
    right: -5px;
}
fieldset.firstfield {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
fieldset.lastfield {
  border-bottom: 1px solid #828282;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
legend.heading p {
  font-size: 10px;
  font-weight: 400;
  margin: 4px 0 0;
}
span.setting_link a img {
  width: 12px;
}